/* VideoInfoPage.scss */

/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../common-styles/variables";

.page-background {
    // background-color: $black !important;
    width: 100% !important;
    height: 100% !important;
}
.carosal-title {
    padding: 0 72px 0 106px;
    text-align: left;
    font: normal normal bold $font-size-h3 GothamLight;
    letter-spacing: 0px;
    color: #ffffff;
    margin: 18px 0px 8px 0px;
}

.headerShadow {
    z-index: 3;
    top: 10px;
    min-height: 74px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: black;
}

.bannerWrapper {
    padding-left: 101px;
}

@media screen and (max-width: $small-below) {
    .bannerWrapper {
        padding-left: 69px;
        padding-right: 14px;
    }
}
